<!-- View HTML de notre page Team-->

<div class="py-5 team4">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-md-7 text-center">
        <h1 class="mb-3">Une équipe incroyable</h1>
        <h6 class="subtitle">Avec un sens du détail incomparable de quoi faire palir les plus grand journalistes de notre époque</h6>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- column  -->
      <div class="col-lg-3 mb-4">
        <!-- Row -->
        <div class="row">
          <div class="col-md-12">
            <img src="https://avatars.githubusercontent.com/u/74305277?v=4" alt="wrapkit" class="img-fluid rounded-circle" />
          </div>
          <div class="col-md-12 text-center">
            <div class="pt-2">
              <h5 class="mt-4 font-weight-medium mb-0">Guillaume Reygner</h5>
              <h6 class="subtitle mb-3">Développeur depuis 1 mois</h6>
              <p>Si tu lis ces lignes c'est que tu as franchement le goût du détail</p>
              <ul class="list-inline">
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-behance"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Row -->
      </div>
      <div class="col-lg-1 mb-4">
      </div>
      <!-- column  -->
      <!-- column  -->
      <div class="col-lg-3 mb-4">
        <!-- Row -->
        <div class="row justify-content-center">
          <div class="col-md-12">
            <img src="https://avatars.githubusercontent.com/u/86610960?v=4" alt="wrapkit" class="img-fluid rounded-circle bastien" />
          </div>
          <div class="col-md-12 text-center">
            <div class="pt-2">
              <h5 class="mt-4 font-weight-medium mb-0">Bastien Arlot</h5>
              <h6 class="subtitle mb-3">Digital nomade</h6>
              <p>Il n'est pas présent et a fait le projet de son côté car il est a Venise le bougre</p>
              <ul class="list-inline">
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-behance"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Row -->
      </div>
      
        <!-- Row -->
      </div>
    </div>
  </div>
</div>

